body {
    background-attachment: fixed;
    background-image: url("./images/hearts.gif");
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: hsla(0, 0%, 100%, 0.6);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.dudu-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.dudu {
    height: 350px;
    border: 5px solid pink;
    visibility: hidden;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btn {
    padding: 10px;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 1.5rem;
    background-color: rgb(78, 13, 153);
    color: white;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 10px 16px #5a5a5a;
}

.call-yes {
    background-color: seagreen;
    display: none;
}

.call-no {
    background-color:maroon;
    display: none;
}

.val-yes {
    background-color: rgb(78, 13, 153);
    display: none;
    position: absolute;
    margin-top: 50px;
    margin-right: 25%;
}

.val-no {
    background-color: maroon;
    display: none;
    position: absolute;
    margin-top: 50px;
    margin-right: -250px;
}

.reset-margin {
    margin-right: 0;
}

h1 {
    font-family: "Delius Unicase", serif;
  font-weight: 400;
  font-style: normal;
}

.delius-unicase-bold {
  font-family: "Delius Unicase", serif;
  font-weight: 700;
  font-style: normal;
}

.answerYes {
    background-color: seagreen;
}


.delius-unicase-regular {
  
